body{background-color:#f6f7d4 ;}

h2{color:#07689f;}
h3{color:#07689f;}
img{border-radius:50%;}
hr{border-style:none;
border-top-style: dotted;
border-width: 5px;
width:7%;
border-top-color:#a2d5f2; }
